{% extends 'base.html' %}
{% block content %}
<h3>Lista de Fornecedores</h3>
<table class='table table-bordered'>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for fornecedor in fornecedores %}
            <tr>
                <td>{{ fornecedor.nome }}</td>
                <td><a href="{% url 'fornecedor_detail' fornecedor.id %}" class="btn btn-primary btn-sm">Ver</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}